{% extends "layout.html" %}
{% block body %}
<div class="block1">
<h1> My InfoExtraction App </h1>

Files:
<form method="POST" enctype="multipart/form-data" action="/upload">
	<p>
	<input type="file" name="file[]" multiple="">
	</p>
	<p>
  	<input type="submit" value="Add">
	</p>
</form>

Keyword:


Algoritma: 
<form name="myForm" action="" method="post" onsubmit="">
	<p>
	<input type="radio" name="options" id="option1" value="option1"> Knuth-Morris-Pratt </input><br>
	<input type="radio" name="options" id="option2" value="option2"> Boyer Moore </input><br>
	<input type="radio" name="options" id="option3" value="option3"> Regex </input><br>
	</p>
	<p>
	<input type=submit value=Show>
	</p>
</form>

</div>
{% endblock %}