{% extends "layout.html" %}
{% block body %}
<div class="block1">
<h1> Hello { {name}}! </h1>
<h2> Here is an interesting quote for you: </h2>
"The limits of my language are the limits of my mind. All I know is what I have words for."

<img src="http://www.naturalprogramming.com/images/smilingpython.gif">

<form name="myForm" action="" method="post" onsubmit="">
	<p>
		<input type="radio" name="options" id="option1" value="option1"> Knuth-Morris-Pratt </input><br>
		<input type="radio" name="options" id="option2" value="option2"> Boyer Moore </input><br>
		<input type="radio" name="options" id="option3" value="option3"> Regex </input><br>
	</p>
	<p>
		<input type=submit value=Show>
	</p>
</form>

</div>
{% endblock %}